<div class="services-list">
    <a href="{{ path('app_nos_services_detail', {slug: 'forage-de-puits'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Forage de puits</span>
    </a>
    <a href="{{ path('app_nos_services_detail', {slug: 'suivi-entretien-regulier'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Suivi et entretien régulier</span>
    </a>
    <a class="active" href="{{ path('app_nos_services_detail', {slug: 'systemes-stockage-distribution'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Systèmes de stockage / distribution</span>
    </a>
    <a href="{{ path('app_nos_services_detail', {slug: 'installation-pompes-manuelles-motorisees'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Installation de pompes manuelles et motorisées</span>
    </a>
</div>
