{% extends 'base.html.twig' %}

{% block header %}

    {% include 'navigation/header-on-page.html.twig' %}
{% endblock %}

{% block main %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
        <div class="container position-relative">
            <h1>Nos Réalisations</h1>
            <p>
                Découvrez quelques-unes de nos réalisations les plus marquantes, illustrant notre savoir-faire.
            </p>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li class="current">Réalisations</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Section -->
      <section id="portfolio" class="portfolio section pb-1">

          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
              <h2>Nos recentes realisations</h2>
              <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
          </div><!-- End Section Title -->

          <div class="container">

              {% include 'sections/realisations.html.twig' %}
          </div>
      </section>
      <!-- /Portfolio Section -->

  </main>
{% endblock %}
