<div class="services-list">
    <a href="{{ path('app_nos_services_detail', {slug: 'etude'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Etude</span>
    </a>
    <a href="{{ path('app_nos_services_detail', {slug: 'construction-batiments'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Construction de bâtiments</span>
    </a>
    <a href="{{ path('app_nos_services_detail', {slug: 'rehabilitation-batiments'}) }}">
        <i class="bi bi-arrow-right-circle"></i><span>Réhabilitation de bâtiments</span>
    </a>
</div>

