<div class="services-list">
    <a href="{{ path('app_nos_services_detail') }}"><i class="bi bi-arrow-right-circle"></i><span>Web Design</span></a>
    <a href="{{ path('app_nos_services_detail') }}"><i class="bi bi-arrow-right-circle"></i><span>Product Management</span></a>
    <a href="{{ path('app_nos_services_detail') }}"><i class="bi bi-arrow-right-circle"></i><span>Graphic Design</span></a>
    <a href="{{ path('app_nos_services_detail') }}"><i class="bi bi-arrow-right-circle"></i><span>Marketing</span></a>
</div>
