{% extends 'base.html.twig' %}

{% block header %}

    {% include 'navigation/header-on-page.html.twig' %}
{% endblock %}

{% block main %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>Filiale {{ filiale }}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ path('app_home') }}">Home</a></li>
            <li class="current">Tout savoir sur {{ filiale }}</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="service-box">
              <div class="services-list">
                <a href="#" class="active"><i class="bi bi-arrow-right-circle"></i><span>{{ filiale }}</span></a>
              </div>
              <h4 class="mt-4">Liste des services</h4>
              {% include filiale_services_list %}
            </div><!-- End Services List -->

            <div class="service-box">
              <h4>Télécharger le Catalogue</h4>
              <div class="download-catalog">
                <a href="#"><i class="bi bi-filetype-pdf"></i><span>Catalog PDF</span></a>
              </div>
            </div>




          </div>

            {% include filiale_contenu %}
        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>
{% endblock %}
