{% extends 'base.html.twig' %}

{% block header %}

    {% include 'navigation/header-on-page.html.twig' %}
{% endblock %}

{% block main %}

  <main class="main">


    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
          <h2>Vous avez un projet à concrétiser ?</h2>
          <p>Notre équipe est à votre écoute pour donner vie à vos idées et vous accompagner dans chaque étape de votre réalisation.</p>

          <nav class="breadcrumbs">
            <a href="{{ path('app_demande_devis') }}"
               class="btn btn-outline-light rounded-pill px-4 py-2 d-inline-flex align-items-center gap-2">
                Obtenir un devis <i class="bi bi-arrow-right"></i>
            </a>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    {% include 'sections/contact.html.twig' %}
      <!-- /Contact Section -->

  </main>

{% endblock %}
