<section id="features" class="features section pb-2">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Nos Services</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4 align-items-center features-item">
            <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
                <img src="assets/img/features-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
                <h3> BE FOR YOU COM</h3>
                <ul>
                    <li><i class="bi bi-check"></i><span> Création de sites web et applications.</span></li>
                    <li><i class="bi bi-check"></i> <span>Gestion de réseaux sociaux.</span></li>
                    <li><i class="bi bi-check"></i> <span>Conseils stratégiques en communication et marketing.</span></li>
                    <li><i class="bi bi-check"></i> <span> Création de la communication (vidéos, visuels, rédaction).</span></li>
                    <li><i class="bi bi-check"></i> <span> Evènementiel</span></li>
                </ul>
            </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
            <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <img src="assets/img/features-2.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
                <h3>BE FOR YOU SCHOOL</h3>
                <ul>
                    <li><i class="bi bi-check"></i><span> Formation.</span></li>
                    <li><i class="bi bi-check"></i> <span>Reprographie.</span></li>
                    <li><i class="bi bi-check"></i> <span> Création de logos et chartes graphiques</span></li>
                    <li><i class="bi bi-check"></i> <span> Design de documents administratifs scolaires.</span></li>
                    <li><i class="bi bi-check"></i> <span> Confection d’uniformes sur mesure</span></li>
                    <li><i class="bi bi-check"></i> <span> Broderie professionnelle sur tissus.</span></li>
                </ul>

            </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
            <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
                <img src="assets/img/features-3.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7" data-aos="fade-up">
                <h3>BE FOR YOU PRINT</h3>
                <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
                <ul>
                    <li><i class="bi bi-check"></i> <span>Impression numérique.</span></li>
                    <li><i class="bi bi-check"></i><span> Affiches, brochures.</span></li>
                    <li><i class="bi bi-check"></i> <span>Broderie industrielle sur textile (polos, uniformes, casquettes)</span>.</li>
                    <li><i class="bi bi-check"></i> <span>Cartes de visite, dépliants, stickers, personnalisation de gadgets et objets publicitaires</span>.</li>
                </ul>
            </div>
        </div>

        <div class="row gy-4 align-items-center features-item">
            <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out">
                <img src="assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 order-2 order-md-1" data-aos="fade-up">
                <h3>BE FOR YOU INDUSTRIE</h3>
                <p class="fst-italic">
                    Etude - Construction - Réhabilitation de bâtiments.
                </p>
            </div>
        </div>
        <div class="row gy-4 align-items-center features-item">
            <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
                <img src="assets/img/features-3.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7" data-aos="fade-up">
                <h3>BE FOR YOU WATER </h3>
                <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
                <ul>
                    <li><i class="bi bi-check"></i> <span>Forage de puits.</span></li>
                    <li><i class="bi bi-check"></i><span>Installation de pompes manuelles et motorisées</span></li>
                    <li><i class="bi bi-check"></i> <span>Systèmes de stockage / distribution</span>.</li>
                    <li><i class="bi bi-check"></i> <span>Suivi et entretien régulier</span>.</li>
                </ul>
            </div>
        </div>

        <div class="col-auto mt-5  text-center">
            <a href="{{ path('app_nos_services') }}" class="btn btn-view-more rounded-pill px-4 py-2 d-inline-flex align-items-center gap-2">
                Consulter tous nos services <i class="bi bi-arrow-right"></i>
            </a>
        </div>

    </div>

</section>
